* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
}

header {
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
}

header h1 {
  font-weight: 100;
}

#explain {
  font-weight: 100;
}

body{
  background: hsl(240, 2%, 90%);
  min-width: 375px;
  max-width: 1440px;

  display: flex;
  justify-content: center;
  align-items: center;
}

main section.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: hsl(0, 0%, 98%);
  padding: 1rem 1.5rem;
  border-radius: 10px;
  max-height: 468px;
  margin-left: 32px;
  margin-bottom: 24px;
  text-align: center;
}

main section.card:first-child {
  margin-left: 0;
}

section.card .icon{
  height: 45px;
  width: 45px;
}

section.card img{
  width: 100%;
}

main section.card h3 {
  margin: 16px 0;
  font-size: 100%;
}

main section.card span {
  max-width: 240px;
  font-weight: 200;
}

main section.card.supervisor {
  box-shadow: 0px 20px 50px -30px hsl(180, 62%, 55%);
}

main section.card.builder {
  box-shadow: 0px 20px 50px -30px hsl(0, 78%, 62%);
}

main section.card.karma {
  box-shadow: 0px 20px 50px -30px hsl(34, 97%, 64%);
}

main section.card.calculator {
  box-shadow: 0px 20px 50px -30px hsl(212, 86%, 64%);
}